.loggedIn{
    display: none;
}


.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    margin-top: 30px;
}

 .nav-wrapper{
    padding: 0 30px;
 }  

.form-wrapper{
    margin: 0 30px;
}

.form-wrapper .no-margin{
    margin-bottom: 0;
}

.input-field.col.s6.radio {
    display: flex;
}

.radio-label{
        margin-top: 13px !important;
}

.radio label {
    margin-right: 11px !important;
}

.univ-modify {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add_univ{
    display: flex;
}

.univ-modify > div {
    justify-content: center;
    align-items: center;
}

.univ-modify h6 {
    margin-left: 11px;
}

.remove_univ{
    display: none;
}

.center-form .input-field{
    display: flex;
    justify-content: center;
}

.page{
    display:none;
}

.page.pg1{
    display: block;
}

p.label {
    font-weight: bold;
}

#request_id {
    /* padding: 10px; */
    /* border-bottom: 2px solid #1e88e5; */
    margin: 0 8px;
    /* margin-bottom: 24px; */
}

.page.info-section {
    margin-top: 30px;
}

#request_id h5 {
    font-size: 1.2em;
    font-weight: bold;
}

#request_id h5 span {
    font-weight: normal;
}


@media screen and (max-width: 601px){

.content-inner-wrap.s8
{    width: 66.6666666667% !important;
    margin-left: auto;
    left: auto;
    right: auto;
}
}

.hidden{
    display: none;
}


#request-head h4 {
    font-size: 1.7em;
    text-align: center;
    margin-bottom: 1.4em;
}

#initMessage h4 {
    text-align: center;
}

div#initMessage {
    margin: 5em;
}


/*.transcript-list .info-section {
    margin-top: 5em;
}*/


.collapsible {
     border-right: none !important; 
     border-left: none !important; 
    box-shadow: none !important;
}


.collapsible #request_id{
    border: none;
}

div#request-id-header {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid #1e88e5;
    margin: 0 8px;
    margin-bottom: 24px;
    /* font-size: 1.1em; */
}

#request-id-header span#request_id {
    /* margin-left: 23px; */
    /* font-size: 1.2em; */
    font-weight: bold;
}

#request-id-header h5 {
    font-weight: normal;
    font-size: 1.4em;
}


.admin-list.content,.all-list.content{
    width:90%;
    margin:0 auto;
}

.transcript-list .collapsible-header i {
    margin-right: 0;
}

.admin-list .admin-info-item {
    margin-bottom: 0;
}

.admin-list div#request_id {
    margin: 0;
}


.transcript-list{
    display: none;
}
.transcript-list .collapsible-header {
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.transcript-list p {
    margin: 0 !important;
    line-height: initial;
}



.transcript-list .collapsible-header p{
    text-align:center; 
}


.header p {
    font-weight: bold;
}

.page-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}


p.edit_register_status {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #1e88e5 !important;
    cursor: pointer;
}

p.edit_register_status i.material-icons {
    margin-right: 10px;
}


.request-status-wrapper {
    position: absolute;
    z-index: 9;
    display: none;
}

.request-status-wrapper .card-content {
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.request-status-wrapper .card-content p.label {
    padding: 0;
}



.request-status-wrapper .button-wrapper {
    /*margin-top: 0.3em;*/
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    /* position: relative; */
    /* padding: 0 10%; */
}
/*
.request-status-wrapper .button-wrapper > button {
    margin-top: 1em;
}*/

.request-status-wrapper .btn {
    margin-top: 0.4em;
}


.request-status-wrapper p.message {
    padding: 0;
    padding-top: 15px;
    width: 100%;
    text-align: center;
    color: #333;
}

.org_form,.univ_form,.mail_form,.deliv_form{
    display: none;
}

.btn.disabled{
    pointer-events: none;
}

.mailing_form label {
    position: relative;
    left: 0 !important;
    margin-right: 1em;
}


/*register */
.success-reg-wrapper{
    display: none;
}

.success-reg-message {
    font-size: 1.2rem;
    line-height: 1.6em;
    margin: 1em;
}

.filter-select-wrap{
    display: none;
}